.cekIdBi {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.addData button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    box-shadow: none;
    border: 0px none;
    background-color: #630063;
    color: white;
}

.addData button:hover{
    background-color: #aa01aa;
}

.addData button:active{
    background-color: #cc02cc;
}

.selectPerumahan{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectPerumahan select{
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

.selectPerumahan select:focus{
    background-color: #dbdbdb;
}

.selectPerumahan select:active{
    background-color: transparent;
}

.wrapTableDataCekIdBi {
    width: 100%;
}

.tableDataCekIdBi {
    width: 100%;
    border-collapse: collapse;
}

.tableDataCekIdBi td, .tableDataCekIdBi th{
    border: 1px solid black;
    padding: 8px;
}

.actionWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.actionWrap > *{
    border: 1px solid black;
    flex-basis: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px;
}


