.DokumenPengajuanTemplateSurat {
    width: 21cm;
    height: 29.7cm;
    padding-top: 0.508cm;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
}

.kop {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logoPerusahaan {
    width: 3.5cm;
    height: 3.5cm;
}

.logoBankdanBUMN {
    text-align: center;
    width: 90%;

}

.kop_title {
    display: flex;
    flex-direction: column;
    margin-left: 1.5cm;
}

.isiHalaman1 {
    font-size: 20px;
    line-height: 35pt;
    padding: 15px;
}

.isiHalaman1 tr {
    width: 16.5cm;
}


.JudulHalaman {
    text-decoration-line: underline;
    text-align: center;
}

.isiHalaman {
    font-size: 12px;
}


.wrapKop {
    width: 100%;
}

.wrapTableKelengkapanDokumenKPR {
    width: 100%;
}

.tabelKelengkapanDokumenKPR td {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.tabelKelengkapanDokumenKPR {
    width: 16.5cm;
    border-collapse: collapse;
}

.tabelKelengkapanDokumenKPR th {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.tablePersetujuanTTD {
    width: 90%;
    text-align: center;
}

.tabelPersetujuanPemohonTTD {
    font-size: 12px;
    float: right;
    width: 7cm;
    text-align: center;
}

.tabelPernyataanPenyerahan {
    line-height: 20pt;
    font-size: 12px;
    width: 15cm;
}

.materai {
    text-align: left;
    border: 1px solid black;
    width: 30%;
}

.wrapHalaman1 {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.wrapHalaman2 {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.wrapHalaman3 {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.wrapHalaman4 {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.wrapHalaman5 {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.tabelBestTimetoCall td {
    border: 1px solid black;
    padding: 8px;
    font-size: 10px;
}

.tabelBestTimetoCall {
    width: 16.5cm;
    border-collapse: collapse;
}

.tabelBestTimetoCall th {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.tabelBestTimetoCallTTD {
    font-size: 12px;
    float: right;
    width: 8.25cm;
    text-align: center;
}