.dasbor-layout {
    display: flex;
    flex-direction: row;
    max-height: 100vh !important;
}

.sidebar {
    background-color: #00436a;
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    min-height: 100vh;
    max-height: 100vh;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    text-align: center;
}

.logo img {
    padding-top: 20px;
    border-radius: 100%;
}

.divider{
    border-top: 3px solid #343434;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.sidebar .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sidebar .menu.active{
    background-color: darkcyan;
}

.sidebar .menu.active:active{
    background-color: #04afaf;
}

.sidebar .menu.active:hover{
    background-color: #21d3d3;
}

.content {
    flex: 1 0;
    min-height: 100vh;
    max-height: 100vh;
    background-color: white;
}

.content .outlet{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.menu-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu:active {
    background-color: #0071b3;
}

.menu:hover{
    background-color: #227db1;
}

.menu.logout:active{
    background-color: #a13838;
}

.menu .navlink{
    flex: 1;
}

.logout {
    background-color: #da0000;
    display: flex !important;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    margin-top: auto !important;
}

.menu.logout {
    /* position: absolute; */
    bottom: 0;
}

.menu.logout:hover{
    background-color: #ff0000;
}

.logout :hover {
    background-color: #ec4f4f;
}

.logout button {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.logout button:hover{
    background-color: transparent;
}
