.DokumenLanjutanTemplateSurat {
    width: 21cm;
    height: 29.7cm;
    padding-top: 0.508cm;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
}

/*
 Kop Surat
*/

.kop {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logoPerusahaan {
    width: 3.5cm;
    height: 3.5cm;
}

.kop_title {
    display: flex;
    flex-direction: column;
    margin-left: 1.5cm;
}

.wrapKop {
    width: 100%;
}

.halamanA4 {
    width: 100%;
    height: 29.7cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 1
*/
.wrapHalaman1 {}

.tabelPersetujuanPemohonTTD {
    font-size: 12px;
    float: right;
    width: 7cm;
    text-align: center;
}

.materai {
    text-align: left;
    border: 1px solid black;
    width: 30%;
}

/*
    Halaman 2
*/
.wrapHalaman2 {}

.wrapTableKelengkapanDokumenKPR {
    width: 100%;
}

.tabelKelengkapanDokumenKPR {
    width: 16.5cm;
    border-collapse: collapse;
}

.tabelKelengkapanDokumenKPR td {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.tabelKelengkapanDokumenKPR th {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

/*
    Halaman 3
*/
.wrapHalaman3 {}

/*
    Halaman 4
*/
.wrapHalaman4 {}

/*
    Halaman 5
*/
.wrapHalaman5 {}

/*
    Halaman 6
*/
.wrapHalaman6 {}

/*
    Halaman 7
*/
.wrapHalaman7 {}

/*
    Halaman 8
*/
.wrapHalaman8 {}

/*
    Halaman 9
*/
.wrapHalaman9 {}

/*
    Halaman 10
*/
.wrapHalaman10 {}

/*
    Halaman 11
*/
.wrapHalaman11 {}

h3 {
    text-align: center;
}