.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #727272bb;
}