.InputCekIdBi {}

.wrapFormInputCekIdBi {
    border: 2px solid #000;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.wrapFormInputCekIdBi>form {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.cekIdBi__input {
    min-height: 2.5rem;
}

.cekIdBi__input input {
    min-height: 1.7rem;
    border-radius: 8px;
    padding-left: 1rem;
    margin-left: 1rem;
    border: 1px solid #999;
    flex: 1;
    background-color: #83bddd;
}

.cekIdBi__input input:disabled {
    border-width: 1px;
    border-style: solid;
    border-color: #545454;
    opacity: 0.7;
    color: var(--disabled-text-color);
}

.cekIdBi__input span {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.cekIdBi__input>label {
    flex-basis: 150px;
}

.cekIdBi__select_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
    min-height: 2.5rem;
}

.cekIdBi__select_input select {
    min-height: 1.7rem;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    border: 1px solid #999;
    flex: 1;
    background-color: #83bddd;

}

.cekIdBi__select_input select:disabled {
    border-width: 1px;
    border-style: solid;
    border-color: #545454;
    opacity: 0.7;
    color: var(--disabled-text-color);

}

.cekIdBi__select_input>label {
    flex-basis: 150px;
}

.wrapFormInputCekIdBi button {
    height: 40px;
    background-color: #0077bd;
    color: white;
    border: 1px solid #000;
    border-radius: 10px;
}

.wrapFormInputCekIdBi button:disabled {
    background-color: #555555;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.tab>label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: midnightblue;
    font-weight: bold;
    cursor: pointer;
}

/* Icon */
.tab:hover {
    background: darken(midnightblue, 10%);
}

.tab>label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.accordionCheck {
    display: none;
}

.tab-label.accordion-open {
    background: darken(midnightblue, 10%);
}

.tab-label.accordion-open::after {
    transform: rotate(90deg);
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: midnightblue;
    background: white;
    transition: all .35s;
}

.tab-content.accordion-open {
    max-height: fit-content;
    width: 100%;
    padding-top: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input_file {
    /* display: none; */
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.input_file p {
    flex-basis: 150px;
}

.input_file .input {
    flex: 1;
}

.input_file label {
    height: 12rem;
    width: 24rem;
    padding: 6px;
    border: 1px dashed black;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_file label span {
    font-size: 3rem;
}

.input_file label.file_has_image {
    border: 1px solid black;
}

.input_file input[type=file] {
    display: none;

}