* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;

}

body{
    max-height: 100vh;
    overflow: auto;
}