.DokumenKelengkapanAkadTemplateSurat {
    width: 21cm;
    height: 29.7cm;
    padding-top: 0.508cm;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
}

h4{
    text-align: center;
    padding-left: 0.1cm;
}

/*
 Kop Surat
*/

.kop {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logoPerusahaan {
    width: 3.5cm;
    height: 3.5cm;
}

.kop_title {
    display: flex;
    flex-direction: column;
    margin-left: 1.5cm;
}

.wrapKop {
    width: 100%;
}
/*
    Halaman 1
*/
.wrapHalaman1 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

.tabelPersetujuanPemohonTTD {
    font-size: 12px;
    float: right;
    width: 7cm;
    text-align: center;
}
.materai {
    text-align: left;
    border: 1px solid black;
    width: 30%;
}

/*
    Halaman 2
*/
.wrapHalaman2 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

.wrapTableKelengkapanDokumenKPR {
    width: 100%;
}

.tabelKelengkapanDokumenKPR {
    width: 16.5cm;
    border-collapse: collapse;
}

.tabelKelengkapanDokumenKPR td {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.tabelKelengkapanDokumenKPR th {
    border: 1px solid black;
    padding: 8px;
    font-size: 12px;
}

.Border{
    border: 2px solid black;
    padding-top: 0.2cm;
}


/*
    Halaman 3
*/
.wrapHalaman3 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 4
*/
.wrapHalaman4 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 5
*/
.wrapHalaman5 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 6
*/
.wrapHalaman6 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 7
*/
.wrapHalaman7 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 8
*/
.wrapHalaman8 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 9
*/
.wrapHalaman9 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 10
*/
.wrapHalaman10 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 11
*/
.wrapHalaman11 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 12
*/
.wrapHalaman12 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 13
*/
.wrapHalaman13 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 14
*/
.wrapHalaman14 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 15
*/
.wrapHalaman15 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 16
*/
.wrapHalaman16 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

/*
    Halaman 17
*/
.wrapHalaman17 {
    width: 100%;
    height: 29.4cm;
    font-family: "Times New Roman", Times, serif;
}

.LampiranDokumen{
    width: 100%;
    height: 29.4cm;
    text-align: center;
}

.DaftarHarga{
    column-count: 2;
    text-align: center;
    padding-left: 2cm;
    padding-top: 0.5cm;
}

.tabelHarga {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.tabelHarga td {
    border: 1px solid black;
    font-size: 12px;
}

.tabelHarga th {
    border: 1px solid black;
    font-size: 12px;
}






